﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Controlador_Contabilidad.aspx.cs" Inherits="paginas_Contabilidad_Controlador_Contabilidad" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="Controlador_Contabilidad.aspx.cs">Controlador_Contabilidad.aspx.cs</a>
    </div>
    </form>
</body>
</html>
