﻿<%@ Page Language="C#" MasterPageFile="~/paginas/Paginas_Generales/MasterPage.master" AutoEventWireup="true" CodeFile="Frm_Rpt_Con_Cuentas_Afectadas.aspx.cs" Inherits="paginas_Contabilidad_Frm_Rpt_Con_Cuentas_Afectadas" Title="Reporte Cuentas afectadas" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1"  %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Cph_Area_Trabajo2" Runat="Server">
    <script type="text/javascript" language="javascript">
        function Mostrar_Tabla(Renglon, Imagen) {
            object = document.getElementById(Renglon);
            if (object.style.display == "none") {
                object.style.display = "";
                document.getElementById(Imagen).src = " ../../paginas/imagenes/paginas/stocks_indicator_down.png";
            } else {
                object.style.display = "none";
                document.getElementById(Imagen).src = "../../paginas/imagenes/paginas/add_up.png";
            }
        }
    </script>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Cph_Area_Trabajo1" Runat="Server" >
    <cc1:ToolkitScriptManager ID="ScriptManager_Parametros_Contabilidad" runat="server"></cc1:ToolkitScriptManager>
   <asp:UpdatePanel ID="Upd_Panel" runat="server">
        <ContentTemplate>        
            <asp:UpdateProgress ID="Uprg_Cuentas_Afectables" runat="server" AssociatedUpdatePanelID="Upd_Panel" DisplayAfter="0">
               <ProgressTemplate>
                    <div id="progressBackgroundFilter" class="progressBackgroundFilter"></div>
                    <div class="processMessage" id="div_progress"><img alt="" src="../Imagenes/paginas/Updating.gif" /></div>
                </ProgressTemplate>
            </asp:UpdateProgress>
            <div id="Div_Reporte_Cuentas_Afectables" style="width: 97%; height: 700px;" >    
                <table width="100%" class="estilo_fuente">
                    <tr align="center">
                        <td class="label_titulo">Reporte Cuentas Afectables por Fecha</td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                            <asp:Image ID="Img_Error" runat="server" ImageUrl="~/paginas/imagenes/paginas/sias_warning.png" Visible="false" />&nbsp;
                            <asp:Label ID="Lbl_Mensaje_Error" runat="server" Text="Mensaje" Visible="false" CssClass="estilo_fuente_mensaje_error"></asp:Label>
                        </td>
                    </tr>
                </table>
                <table width="98%"  border="0" cellspacing="0">
                    <tr align="center">
                        <td colspan="2">                
                            <div align="right" class="barra_busqueda">                        
                                <table style="width:100%;height:28px;">
                                    <tr>
                                        <td align="left" style="width:59%;">
                                            <asp:ImageButton ID="Btn_Nuevo" runat="server" ToolTip="Nuevo" 
                                                CssClass="Img_Button" TabIndex="1"
                                                ImageUrl="~/paginas/imagenes/paginas/icono_nuevo.png" 
                                                onclick="Btn_Nuevo_Click" />
                                           <%-- <asp:ImageButton ID="Btn_Reporte_Libro_Mayor" runat="server" ToolTip="Reporte" 
                                                CssClass="Img_Button" TabIndex="1" Visible="false"
                                                ImageUrl="~/paginas/imagenes/paginas/icono_rep_pdf.png" 
                                                onclick="Btn_Reporte_Libro_Mayor_Click"/>--%>
                                            <asp:ImageButton ID="Btn_Salir" runat="server" ToolTip="Inicio" 
                                                CssClass="Img_Button" TabIndex="2"
                                                ImageUrl="~/paginas/imagenes/paginas/icono_salir.png" 
                                                onclick="Btn_Salir_Click"/>
                                        </td>
                                      <td align="right" style="width:41%;">&nbsp;</td>       
                                    </tr>         
                                </table>                      
                            </div>
                        </td>
                    </tr>
                </table>   
                <table width="99%" class="estilo_fuente">
                    <tr>
                        <td colspan="4">
                            <table width="100%" class="estilo_fuente">
                                <tr>
                                    <td style="width:15%">
                                        <asp:Label ID="Lbl_Fecha_Inicio" runat="server" Text="*Fecha Inicio"></asp:Label>
                                    </td>
                                    <td style="width:38%">
                                        <asp:TextBox ID="Txt_Fecha_Inicio" runat="server" Width="70%" TabIndex="6" MaxLength="11" Height="18px" />
                                        <cc1:TextBoxWatermarkExtender ID="TBWE_Txt_Fecha_Inicio" runat="server" 
                                            TargetControlID="Txt_Fecha_Inicio" WatermarkCssClass="watermarked" 
                                            WatermarkText="Dia/Mes/Año" Enabled="True" />
                                        <cc1:CalendarExtender ID="CE_Txt_Fecha_Inicio" runat="server" 
                                            TargetControlID="Txt_Fecha_Inicio" Format="dd/MMM/yyyy" Enabled="True" PopupButtonID="Btn_Fecha_inicio"/>
                                         <asp:ImageButton ID="Btn_Fecha_Inicio" runat="server"
                                            ImageUrl="../imagenes/paginas/SmallCalendar.gif" style="vertical-align:top;"
                                            Height="18px" CausesValidation="false"/>           
                                        <cc1:MaskedEditExtender 
                                            ID="Mee_Txt_Fecha_Inicio" 
                                            Mask="99/LLL/9999" 
                                            runat="server"
                                            MaskType="None" 
                                            UserDateFormat="DayMonthYear" 
                                            UserTimeFormat="None" Filtered="/"
                                            TargetControlID="Txt_Fecha_Inicio" 
                                            Enabled="True" 
                                            ClearMaskOnLostFocus="false"/>  
                                        <cc1:MaskedEditValidator 
                                            ID="Mev_Txt_Fecha_Poliza" 
                                            runat="server" 
                                            ControlToValidate="Txt_Fecha_Inicio"
                                            ControlExtender="Mee_Txt_Fecha_Inicio" 
                                            EmptyValueMessage="Fecha Requerida"
                                            InvalidValueMessage="Fecha Inicio Invalida" 
                                            IsValidEmpty="false" 
                                            TooltipMessage="Ingrese o Seleccione la Fecha de Póliza"
                                            Enabled="true" style="font-size:10px;background-color:#F0F8FF;color:Black;font-weight:bold;"/>
                                        </td>
                                        <td style="width:10%">
                                            <asp:Label ID="Lbl_Fecha_Final" runat="server" Text="*Fecha Final"></asp:Label>
                                        </td>
                                        <td style="width:37%">
                                            <asp:TextBox ID="Txt_Fecha_Final" runat="server" Width="70%" TabIndex="6" MaxLength="11" Height="18px" />
                                        <cc1:TextBoxWatermarkExtender ID="TBWE_Txt_Fecha_Final" runat="server" 
                                            TargetControlID="Txt_Fecha_Final" WatermarkCssClass="watermarked" 
                                            WatermarkText="Dia/Mes/Año" Enabled="True" />
                                        <cc1:CalendarExtender ID="CE_Txt_Fecha_Final" runat="server" 
                                            TargetControlID="Txt_Fecha_Final" Format="dd/MMM/yyyy" Enabled="True" PopupButtonID="Btn_Fecha_Final"/>
                                         <asp:ImageButton ID="Btn_Fecha_Final" runat="server"
                                            ImageUrl="../imagenes/paginas/SmallCalendar.gif" style="vertical-align:top;"
                                            Height="18px" CausesValidation="false"/>           
                                        <cc1:MaskedEditExtender 
                                            ID="Mee_Txt_Fecha_Final" 
                                            Mask="99/LLL/9999" 
                                            runat="server"
                                            MaskType="None" 
                                            UserDateFormat="DayMonthYear" 
                                            UserTimeFormat="None" Filtered="/"
                                            TargetControlID="Txt_Fecha_Final" 
                                            Enabled="True" 
                                            ClearMaskOnLostFocus="false"/>  
                                        <cc1:MaskedEditValidator 
                                            ID="MaskedEditValidator1" 
                                            runat="server" 
                                            ControlToValidate="Txt_Fecha_Final"
                                            ControlExtender="Mee_Txt_Fecha_Final" 
                                            EmptyValueMessage="Fecha Requerida"
                                            InvalidValueMessage="Fecha Final Invalida" 
                                            IsValidEmpty="false" 
                                            TooltipMessage="Ingrese o Seleccione la Fecha de Póliza"
                                            Enabled="true" style="font-size:10px;background-color:#F0F8FF;color:Black;font-weight:bold;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:15%; text-align:left;">Cuenta Contable</td>
                                    <td style="width:85%; text-align:left;" colspan="3">
                                        <asp:TextBox ID="Txt_Cuenta_Contable" runat="server" Width="20%" 
                                            MaxLength="100" AutoPostBack="true"  ontextchanged="Txt_Cuenta_Contable_TextChanged"></asp:TextBox>
                                        <cc1:TextBoxWatermarkExtender ID="TWE_Cuenta_Contable" runat="server"  WatermarkCssClass="watermarked"
                                            WatermarkText="Busq. Cuenta" TargetControlID="Txt_Cuenta_Contable">
                                            </cc1:TextBoxWatermarkExtender>
                                        <asp:ImageButton ID="Btn_Buscar_Cuenta_Contable" runat="server" ToolTip="Buscar" CssClass="Img_Button" 
                                          ImageUrl="~/paginas/imagenes/paginas/busqueda.png" Enabled ="false" Width="20px" Height ="20px" style = " cursor:pointer; "/>
                                        <asp:DropDownList ID="Cmb_Cuenta_Contable" runat="server" Width="72%"></asp:DropDownList>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                     <tr>
                        <td  runat="server" id="Tr_Grid_Cuentas" colspan="4" style="display:none;">
                               <div>
                                    <table width="100%"  border="0" cellspacing="0">
                                        <tr >
                                            <td Font-Size="XX-Small"  style=" width:15%;background-image: url(../imagenes/gridview/HeaderChrome.jpg);background-position:center;background-repeat:repeat-x;background-color:#1d1d1d;border-bottom: #1d1d1d 1px solid;color:White;" align="Center">Cuenta</td>
                                            <td Font-Size="XX-Small" style="width:85%;background-image: url(../imagenes/gridview/HeaderChrome.jpg);background-position:center;background-repeat:repeat-x;background-color:#1d1d1d;border-bottom: #1d1d1d 1px solid;color:White;" align="left">Descripcion</td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="overflow:auto;height:500px;width:99%;vertical-align:top;border-style:outset;border-color:Silver; position:static" >
                                    <asp:GridView ID="Grid_Cuentas_Movimientos" runat="server" AllowPaging="False"  ShowHeader="false"
                                        AutoGenerateColumns="False" CssClass="GridView_1" OnRowDataBound="Grid_Cuentas_RowDataBound"
                                        DataKeyNames="Cuenta_ID" GridLines="None" Width="99%">
                                        <Columns>
                                            <asp:TemplateField>
                                                <ItemTemplate>
                                                    <asp:Image ID="Img_Btn_Expandir" runat="server"
                                                        ImageUrl="~/paginas/imagenes/paginas/add_up.png" />
                                                </ItemTemplate>
                                                <HeaderStyle HorizontalAlign="Center" Width="2%" />
                                                <ItemStyle HorizontalAlign="Left" Width="2%" />
                                            </asp:TemplateField>
                                            <asp:BoundField DataField="Cuenta" HeaderText="Cuenta">
                                                <HeaderStyle HorizontalAlign="Left" Width="10%" />
                                                <ItemStyle HorizontalAlign="Left" Width="10%" />
                                            </asp:BoundField>
                                            <asp:BoundField DataField="Descripcion" HeaderText="Descripcion">
                                                <HeaderStyle HorizontalAlign="Left" Width="80%" />
                                                <ItemStyle HorizontalAlign="Left" Width="80%" />
                                            </asp:BoundField>
                                            <asp:TemplateField>
                                                <ItemTemplate>
                                                    <asp:Label ID="Lbl_Movimientos" runat="server" 
                                                        Text='<%# Bind("Cuenta_ID") %>' Visible="false"></asp:Label>
                                                    <asp:Literal ID="Ltr_Inicio" runat="server" 
                                                        Text="&lt;/td&gt;&lt;tr id='Renglon_Grid' style='position:static'&gt;&lt;td colspan='4';left-padding:10px;&gt;" />
                                                    <asp:GridView ID="Grid_Movimientos" runat="server" AllowPaging="False" 
                                                        AutoGenerateColumns="False" CssClass="GridView_1" GridLines="None" Width="99.9%">
                                                        <Columns>
                                                            <asp:BoundField HeaderText="Fecha" DataField="FECHA"  DataFormatString="{0:dd/MMM/yyyy}">
                                                                <HeaderStyle HorizontalAlign="Left" Width="10%" Font-Size="X-Small" />
                                                                <ItemStyle  Font-Size="X-Small" HorizontalAlign="Left" Width="10%" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="CONCEPTO" HeaderText="Concepto" >
                                                                <HeaderStyle HorizontalAlign="Left" Width="35%"  Font-Size="X-Small"/>
                                                                <ItemStyle Font-Size="X-Small"  HorizontalAlign="Left" Width="35%" />
                                                            </asp:BoundField>
                                                            <%--<asp:BoundField DataField="SALDO_INICIAL"  HeaderText="Saldo Inicial" DataFormatString="{0:C}">
                                                                <HeaderStyle HorizontalAlign="Right" Width="10%" />
                                                                <ItemStyle Font-Size="X-Small"  HorizontalAlign="Right"  Width="10%" />
                                                            </asp:BoundField>--%>
                                                            <asp:BoundField DataField="HABER"  HeaderText="Haber" DataFormatString="{0:C}" >
                                                                <HeaderStyle HorizontalAlign="Center" Width="9%" Font-Size="X-Small"/>
                                                                <ItemStyle Font-Size="X-Small"  HorizontalAlign="Right" Width="10%" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="DEBE"  HeaderText="Debe" DataFormatString="{0:C}">
                                                                <HeaderStyle HorizontalAlign="Center" Width="10%" Font-Size="X-Small" />
                                                                <ItemStyle Font-Size="X-Small"  HorizontalAlign="Right"  Width="10%" />
                                                            </asp:BoundField>                                        
                                                            <%--<asp:BoundField DataField="SALDO"  HeaderText="Saldo final" DataFormatString="{0:C}">
                                                                <HeaderStyle HorizontalAlign="Right" Width="10%" />
                                                                <ItemStyle Font-Size="X-Small"  HorizontalAlign="Right"  Width="10%" />
                                                            </asp:BoundField>--%>
                                                            <asp:TemplateField  Visible="True" HeaderText="Poliza">
                                                                    <ItemTemplate>
                                                                        <asp:LinkButton Font-Size="X-Small"  ID="Btn_Seleccionar_Poliza" runat="server" Text= '<%# Eval("No_Poliza") %>'                                             
                                                                        OnClick="Btn_Poliza_Click" CommandArgument='<%# Eval("MES_ANO") %>' CssClass='<%# Eval("Tipo_Poliza_ID") %>' ForeColor="Blue"  />
                                                                    </ItemTemplate >
                                                                    <HeaderStyle HorizontalAlign="center" Font-Size="X-Small" />
                                                                    <ItemStyle Font-Size="X-Small"  HorizontalAlign="Center"  Width="10%"/>
                                                                </asp:TemplateField> 
                                                             <asp:BoundField DataField="USUARIO" HeaderText="Creo"  DataFormatString="{0:C}">
                                                                <HeaderStyle HorizontalAlign="center" Width="25%" Font-Size="X-Small" />
                                                                <ItemStyle Font-Size="XX-Small"  HorizontalAlign="Right"  Width="25%" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                        <AlternatingRowStyle CssClass="GridAltItem" />
                                                        <FooterStyle CssClass="GridPager" />
                                                        <HeaderStyle CssClass="GridHeader_Nested" />
                                                        <PagerStyle CssClass="GridPager" />
                                                        <RowStyle CssClass="GridItem" />
                                                        <SelectedRowStyle CssClass="GridSelected" />
                                                    </asp:GridView>
                                                    <asp:Literal ID="Ltr_Fin" runat="server" Text="&lt;/td&gt;&lt;/tr&gt;" />
                                                </ItemTemplate>
                                            </asp:TemplateField>
                                        </Columns>
                                        <AlternatingRowStyle CssClass="GridAltItem" />
                                        <FooterStyle CssClass="GridPager" />
                                        <HeaderStyle CssClass="GridHeader_Nested" />
                                        <PagerStyle CssClass="GridPager" />
                                        <RowStyle CssClass="GridItem" />
                                        <SelectedRowStyle CssClass="GridSelected" />
                                    </asp:GridView>
                                </div>
                        </td>
                    </tr>
                </table>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>

