﻿<%@ Page Title="" Language="C#" MasterPageFile="~/paginas/Paginas_Generales/MasterPage.master" AutoEventWireup="true" CodeFile="Frm_Ope_Con_Actualizar_Saldos.aspx.cs" Inherits="paginas_Contabilidad_Frm_Ope_Con_Actualizar_Saldos" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Cph_Area_Trabajo2" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Cph_Area_Trabajo1" Runat="Server">
    <asp:Button ID="Btn_saldos" runat="server" Text="Actualizar Saldos" Width="30%" 
        OnClientClick="return confirm('&iquest;Est&aacute; seguro?');" 
        onclick="Btn_saldos_Click" />    
</asp:Content>

