﻿body{
    padding:0px;
    margin:0px;
    border:0px;
    width:0px;
    height:0px;
}
.General_Arriva
{ 
    /*font-family:Arial;*/
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.7cm;
    top:10.0cm;
    width:40em;   
}
.General_Abajo
{
    /*font-family:Arial;*/
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.7cm;
    top:17.15cm;
    width:40em;
}
.saltopagina
{
    display:block;
    page-break-before:always;    font-weight:bold;
}
.General_Arriva_Copia
{ 
    /*font-family:Arial;*/
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.7cm;
    top:27.7cm;
    width:40em;   
}
.General_Abajo_Copia
{
    /*font-family:Arial;*/
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.7cm;
    top:34.7cm;
    width:40em;
}