﻿body{
    padding:0px;
    margin:0px;
    border:0px;
    width:0px;
    height:0px;
}
.General_Año_Consumo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:4.4cm;
    width:10em;
}
.General_Codigo_Barras
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:6.5cm;
    top:12.0cm;
    width:40em;
}
.General_Colonia_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:19.4cm;
    width:50em;
}
.General_Colonia_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.7cm;
    top:2.8cm;
    width:50em;
}
.General_Consumo_1
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:3.0cm;
    top:4.8cm;
    width:10em;
}
.General_Consumo_2
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:3.0cm;
    top:4.8cm;
    width:10em;
}
.General_Consumo_3
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:3.0cm;
    top:4.8cm;
    width:10em;
}
.General_Domicilio_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:18.8cm;
    width:50em;
}
.General_Domicilio_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.7cm;
    top:2.5cm;
    width:50em;
}
.General_Fecha_Emision_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:7.5cm;
    top:6.0cm;
    width:10em;
}
.General_Fecha_Limite_Pago_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:3.0cm;
    top:16.5cm;
    width:10em;
}
.General_Fecha_Limite_Pago_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:9.0cm;
    top:4.4cm;
    width:10em;
}
.General_Folio_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:5.0cm;
    top:16.5cm;
    width:10em;
}
.General_Folio_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.0cm;
    top:2.2cm;
    width:30em;
}
.General_Mes_Consumo_1
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.0cm;
    top:4.8cm;
    width:12em;
}
.General_Mes_Consumo_2
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.0cm;
    top:4.8cm;
    width:12em;
}
.General_Mes_Consumo_3
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.0cm;
    top:4.8cm;
    width:12em;
}
.General_No_Cuenta_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:17.6cm;
    width:10em;
}
.General_No_Cuenta_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:2.1cm;
    top:1.4cm;
    width:10em;
}
.General_Periodo_Facturacion_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:2.0cm;
    top:16.0cm;
    width:10em;
}
.General_Periodo_Facturacion_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.8cm;
    top:6.0cm;
    width:10em;
}
.General_Tasa_IVA_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:7.8cm;
    top:19.1cm;
    width:20em;
}
.General_Tasa_IVA_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:8.5cm;
    top:9.2cm;
    width:20em;
}
.General_Total_Pagar_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.0cm;
    top:19.9cm;
    width:10em;
}
.General_Total_Pagar_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.5cm;
    top:9.9cm;
    width:10em;
}
.General_Usuario_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:18.2cm;
    width:50em;
}
.General_Usuario_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.7cm;
    top:2.2cm;
    width:50em;
}
.Detalle_Concepto_Abajo_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:15.7cm;}
}
.Detalle_Concepto_Arriba_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:6.9cm;}
}
.Detalle_Total_Abajo_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:15.7cm;}
}
.Detalle_Total_Arriba_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:6.9cm;}
}
.Detalle_Concepto_Abajo_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16cm;}
}
.Detalle_Concepto_Arriba_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:7.2cm;}
}
.Detalle_Total_Abajo_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16cm;}
}
.Detalle_Total_Arriba_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:7.2cm;}
}
.Detalle_Concepto_Abajo_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16.3cm;}
}
.Detalle_Concepto_Arriba_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:7.5cm;}
}
.Detalle_Total_Abajo_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16.3cm;}
}
.Detalle_Total_Arriba_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:7.5cm;}
}
.Detalle_Concepto_Abajo_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16.6cm;}
}
.Detalle_Concepto_Arriba_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:7.8cm;}
}
.Detalle_Total_Abajo_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16.6cm;}
}
.Detalle_Total_Arriba_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:7.8cm;}
}
.Detalle_Concepto_Abajo_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16.9cm;}
}
.Detalle_Concepto_Arriba_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:8.1cm;}
}
.Detalle_Total_Abajo_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16.9cm;}
}
.Detalle_Total_Arriba_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:8.1cm;}
}
.Detalle_Concepto_Abajo_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:17.2cm;}
}
.Detalle_Concepto_Arriba_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:8.4cm;}
}
.Detalle_Total_Abajo_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:17.2cm;}
}
.Detalle_Total_Arriba_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:8.4cm;}
}
.Detalle_Concepto_Abajo_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:17.5cm;}
}
.Detalle_Concepto_Arriba_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:8.7cm;}
}
.Detalle_Total_Abajo_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:17.5cm;}
}
.Detalle_Total_Arriba_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:8.7cm;}
}
.Detalle_Concepto_Abajo_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:17.8cm;}
}
.Detalle_Concepto_Arriba_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:9cm;}
}
.Detalle_Total_Abajo_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:17.8cm;}
}
.Detalle_Total_Arriba_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:9cm;}
}
.Detalle_Concepto_Abajo_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:18.1cm;}
}
.Detalle_Concepto_Arriba_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:9.3cm;}
}
.Detalle_Total_Abajo_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:18.1cm;}
}
.Detalle_Total_Arriba_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:9.3cm;}
}
