﻿body{
    padding:0px;
    margin:0px;
    border:0px;
    width:0px;
    height:0px;
}
.General_Codigo_Barras
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:6.5cm;
    top:12.0cm;
    width:40em;
}
.General_Codigo_Barras_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:20.5cm;
    top:12.0cm;
    width:40em;
}
.General_Colonia_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:19.4cm;
    width:50em;
}
.General_Colonia_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.4cm;
    top:19.4cm;
    width:50em;
}
.General_Colonia_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.7cm;
    top:2.8cm;
    width:50em;
}
.General_Colonia_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.7cm;
    top:2.8cm;
    width:50em;
}
.General_Consumo_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:4.3cm;
    top:15.2cm;
    width:10em;
}
.General_Consumo_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:18.3cm;
    top:15.2cm;
    width:10em;
}
.General_Consumo_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.5cm;
    top:3.3cm;
    width:10em;
}
.General_Consumo_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:25.5cm;
    top:3.3cm;
    width:10em;
}
.General_Domicilio_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:18.8cm;
    width:50em;
}
.General_Domicilio_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.4cm;
    top:18.8cm;
    width:50em;
}
.General_Domicilio_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.7cm;
    top:2.5cm;
    width:50em;
}
.General_Domicilio_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.7cm;
    top:2.5cm;
    width:50em;
}
.General_Fecha_Emision_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:7.5cm;
    top:6.0cm;
    width:10em;
}
.General_Fecha_Emision_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:21.5cm;
    top:6.0cm;
    width:10em;
}
.General_Fecha_Inicio_Periodo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:9.2cm;
    top:4.0cm;
    width:10em;
}
.General_Fecha_Inicio_Periodo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:23.2cm;
    top:4.0cm;
    width:10em;
}
.General_Fecha_Limite_Pago_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:3.0cm;
    top:16.5cm;
    width:10em;
}
.General_Fecha_Limite_Pago_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:17.0cm;
    top:16.5cm;
    width:10em;
}
.General_Fecha_Limite_Pago_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:9.0cm;
    top:4.4cm;
    width:10em;
}
.General_Fecha_Limite_Pago_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:23.0cm;
    top:4.4cm;
    width:10em;
}
.General_Fecha_Termino_Periodo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.4cm;
    top:4.0cm;
    width:10em;
}
.General_Fecha_Termino_Periodo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:25.4cm;
    top:4.0cm;
    width:10em;
}
.General_Giro_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:4.0cm;
    top:20.4cm;
    width:40em;
}
.General_Giro_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:18.0cm;
    top:20.4cm;
    width:40em;
}
.General_Giro_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:7.0cm;
    top:5.5cm;
    width:40em;
}
.General_Giro_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:21.0cm;
    top:5.5cm;
    width:40em;
}
.General_Grafica
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:0.5cm;
    top:9.9cm;
    width:50em;
}
.General_Grafica_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:14.5cm;
    top:9.9cm;
    width:50em;
}
.General_Lectura_Actual_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:2.4cm;
    top:15.2cm;
    width:10em;
}
.General_Lectura_Actual_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:16.4cm;
    top:15.2cm;
    width:10em;
}
.General_Lectura_Actual_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:9.5cm;
    top:3.3cm;
    width:10em;
}
.General_Lectura_Actual_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:23.5cm;
    top:3.3cm;
    width:10em;
}
.General_Lectura_Anterior_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:0.6cm;
    top:15.2cm;
    width:10em;
}
.General_Lectura_Anterior_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:14.6cm;
    top:15.2cm;
    width:10em;
}
.General_Lectura_Anterior_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:7.5cm;
    top:3.3cm;
    width:10em;
}
.General_Leyenda_Reimpresion_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:3.0cm;
    top:20.1cm;
    width:50em;
}
.General_Leyenda_Reimpresion_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:2.0cm;
    top:15.8cm;
    width:50em;
}
.General_Lectura_Anterior_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:21.5cm;
    top:3.3cm;
    width:10em;
}
.General_No_Cuenta_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:17.6cm;
    width:10em;
}
.General_No_Cuenta_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.4cm;
    top:17.6cm;
    width:10em;
}
.General_No_Cuenta_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:2.1cm;
    top:1.4cm;
    width:10em;
}
.General_No_Cuenta_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:16.1cm;
    top:1.4cm;
    width:10em;
}
.General_No_Factura_Recibo_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:5.0cm;
    top:16.5cm;
    width:10em;
}
.General_No_Factura_Recibo_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:19.0cm;
    top:16.5cm;
    width:10em;
}
.General_No_Factura_Recibo_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.0cm;
    top:2.2cm;
    width:30em;
}
.General_No_Factura_Recibo_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:25.0cm;
    top:2.2cm;
    width:30em;
}
.General_No_Medidor_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:5.2cm;
    top:20.0cm;
    width:10em;
}
.General_No_Medidor_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:19.2cm;
    top:20.0cm;
    width:10em;
}
.General_No_Medidor_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:7.4cm;
    top:5.0cm;
    width:10em;
}
.General_No_Medidor_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:21.4cm;
    top:5.0cm;
    width:10em;
}
.General_No_Orden_Reparto_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:4.0cm;
    top:17.2cm;
    width:5em;
}
.General_No_Orden_Reparto_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:18.0cm;
    top:17.2cm;
    width:5em;
}
.General_No_Orden_Reparto_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:12.0cm;
    top:1.4cm;
    width:5em;
}
.General_No_Orden_Reparto_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:26.0cm;
    top:1.4cm;
    width:5em;
}
.General_Numero_Region_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.8cm;
    top:17.2cm;
    width:10em;
}
.General_Numero_Region_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.8cm;
    top:17.2cm;
    width:10em;
}
.General_Numero_Region_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:6.2cm;
    top:1.4cm;
    width:5em;
}
.General_Numero_Region_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:20.2cm;
    top:1.4cm;
    width:5em;
}
.General_Numero_Sector_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:2.5cm;
    top:17.2cm;
    width:5em;
}
.General_Numero_Sector_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:16.5cm;
    top:17.2cm;
    width:5em;
}
.General_Numero_Sector_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:8.8cm;
    top:1.4cm;
    width:5em;
}
.General_Numero_Sector_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:22.8cm;
    top:1.4cm;
    width:5em;
}
.General_Periodo_Facturacion_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:2.0cm;
    top:16.0cm;
    width:10em;
}
.General_Periodo_Facturacion_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:16.0cm;
    top:16.0cm;
    width:10em;
}
.General_Periodo_Facturacion_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.8cm;
    top:6.0cm;
    width:10em;
}
.General_Periodo_Facturacion_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:25.8cm;
    top:6.0cm;
    width:10em;
}
.General_Precio_Metro_Cubico_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:5.5cm;
    top:15.2cm;
    width:10em;
}
.General_Precio_Metro_Cubico_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:19.5cm;
    top:15.2cm;
    width:10em;
}
.General_Precio_Metro_Cubico_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:12.7cm;
    top:3.3cm;
    width:10em;
}
.General_Precio_Metro_Cubico_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:26.7cm;
    top:3.3cm;
    width:10em;
}
.General_Tarifa_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:20.0cm;
    width:3em;
}
.General_Tarifa_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.4cm;
    top:20.0cm;
    width:3em;
}
.General_Tarifa_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:10.5cm;
    top:5.0cm;
    width:3em;
}
.General_Tarifa_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:24.5cm;
    top:5.0cm;
    width:3em;
}
.General_Tasa_IVA_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:7.8cm;
    top:19.1cm;
    width:20em;
}
.General_Tasa_IVA_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:21.8cm;
    top:19.1cm;
    width:20em;
}
.General_Tasa_IVA_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:8.5cm;
    top:9.2cm;
    width:20em;
}
.General_Tasa_IVA_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:22.5cm;
    top:9.2cm;
    width:20em;
}
.General_Total_Pagar_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.0cm;
    top:19.9cm;
    width:10em;
}
.General_Total_Pagar_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:25.0cm;
    top:19.9cm;
    width:10em;
}
.General_Total_Pagar_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.5cm;
    top:9.9cm;
    width:10em;
}
.General_Total_Pagar_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:25.5cm;
    top:9.9cm;
    width:10em;
}
.General_Saldo_Despues_Abono_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.5cm;
    top:10.4cm;
    width:10em;
}
.General_Saldo_Despues_Abono_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:11.0cm;
    top:20.4cm;
    width:10em;
}
.General_Usuario_Abajo
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.4cm;
    top:18.2cm;
    width:50em;
}
.General_Usuario_Abajo_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.4cm;
    top:18.2cm;
    width:50em;
}
.General_Usuario_Arriba
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:1.7cm;
    top:2.2cm;
    width:50em;
}
.General_Usuario_Arriba_Derecha
{
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    font-size:10;
    left:15.7cm;
    top:2.2cm;
    width:50em;
}
.Detalle_Consumo_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:4.3cm;}
}
.Detalle_Consumo_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:4.3cm;}
}
.Detalle_Lectura_Actual_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:4.3cm;}
}
.Detalle_Lectura_Actual_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:4.3cm;}
}
.Detalle_Lectura_Anterior_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:4.3cm;}
}
.Detalle_Lectura_Anterior_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:4.3cm;}
}
.Detalle_Periodo_Facturacion_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:4.3cm;}
}
.Detalle_Periodo_Facturacion_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:4.3cm;}
}
.Detalle_Consumo_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:4.6cm;}
}
.Detalle_Consumo_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:4.6cm;}
}
.Detalle_Lectura_Actual_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:4.6cm;}
}
.Detalle_Lectura_Actual_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:4.6cm;}
}
.Detalle_Lectura_Anterior_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:4.6cm;}
}
.Detalle_Lectura_Anterior_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:4.6cm;}
}
.Detalle_Periodo_Facturacion_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:4.6cm;}
}
.Detalle_Periodo_Facturacion_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:4.6cm;}
}
.Detalle_Consumo_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:4.9cm;}
}
.Detalle_Consumo_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:4.9cm;}
}
.Detalle_Lectura_Actual_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:4.9cm;}
}
.Detalle_Lectura_Actual_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:4.9cm;}
}
.Detalle_Lectura_Anterior_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:4.9cm;}
}
.Detalle_Lectura_Anterior_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:4.9cm;}
}
.Detalle_Periodo_Facturacion_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:4.9cm;}
}
.Detalle_Periodo_Facturacion_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:4.9cm;}
}
.Detalle_Consumo_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:5.2cm;}
}
.Detalle_Consumo_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:5.2cm;}
}
.Detalle_Lectura_Actual_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:5.2cm;}
}
.Detalle_Lectura_Actual_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:5.2cm;}
}
.Detalle_Lectura_Anterior_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:5.2cm;}
}
.Detalle_Lectura_Anterior_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:5.2cm;}
}
.Detalle_Periodo_Facturacion_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:5.2cm;}
}
.Detalle_Periodo_Facturacion_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:5.2cm;}
}
.Detalle_Consumo_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:5.5cm;}
}
.Detalle_Consumo_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:5.5cm;}
}
.Detalle_Lectura_Actual_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:5.5cm;}
}
.Detalle_Lectura_Actual_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:5.5cm;}
}
.Detalle_Lectura_Anterior_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:5.5cm;}
}
.Detalle_Lectura_Anterior_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:5.5cm;}
}
.Detalle_Periodo_Facturacion_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:5.5cm;}
}
.Detalle_Periodo_Facturacion_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:5.5cm;}
}
.Detalle_Consumo_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:5.8cm;}
}
.Detalle_Consumo_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:5.8cm;}
}
.Detalle_Lectura_Actual_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:5.8cm;}
}
.Detalle_Lectura_Actual_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:5.8cm;}
}
.Detalle_Lectura_Anterior_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:5.8cm;}
}
.Detalle_Lectura_Anterior_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:5.8cm;}
}
.Detalle_Periodo_Facturacion_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:5.8cm;}
}
.Detalle_Periodo_Facturacion_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:5.8cm;}
}
.Detalle_Consumo_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:6.1cm;}
}
.Detalle_Consumo_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:6.1cm;}
}
.Detalle_Lectura_Actual_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:6.1cm;}
}
.Detalle_Lectura_Actual_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:6.1cm;}
}
.Detalle_Lectura_Anterior_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:6.1cm;}
}
.Detalle_Lectura_Anterior_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:6.1cm;}
}
.Detalle_Periodo_Facturacion_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:6.1cm;}
}
.Detalle_Periodo_Facturacion_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:6.1cm;}
}
.Detalle_Consumo_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:4.3cm;
    top:6.4cm;}
}
.Detalle_Consumo_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:18.3cm;
    top:6.4cm;}
}
.Detalle_Lectura_Actual_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:6.4cm;}
}
.Detalle_Lectura_Actual_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:6.4cm;}
}
.Detalle_Lectura_Anterior_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:2.3cm;
    top:6.4cm;}
}
.Detalle_Lectura_Anterior_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:16.3cm;
    top:6.4cm;}
}
.Detalle_Periodo_Facturacion_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:6.4cm;}
}
.Detalle_Periodo_Facturacion_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:6.4cm;}
}
.Detalle_Fecha_Emision_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:6.9cm;}
}
.Detalle_Fecha_Emision_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:6.9cm;}
}
.Detalle_Periodo_Facturacion_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:6.9cm;}
}
.Detalle_Periodo_Facturacion_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:6.9cm;}
}
.Detalle_Total_Pagar_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:6.9cm;}
}
.Detalle_Total_Pagar_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:6.9cm;}
}
.Detalle_Fecha_Emision_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:7.2cm;}
}
.Detalle_Fecha_Emision_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:7.2cm;}
}
.Detalle_Periodo_Facturacion_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:7.2cm;}
}
.Detalle_Periodo_Facturacion_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:7.2cm;}
}
.Detalle_Total_Pagar_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:7.2cm;}
}
.Detalle_Total_Pagar_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:7.2cm;}
}
.Detalle_Fecha_Emision_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:7.5cm;}
}
.Detalle_Fecha_Emision_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:7.5cm;}
}
.Detalle_Periodo_Facturacion_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:7.5cm;}
}
.Detalle_Periodo_Facturacion_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:7.5cm;}
}
.Detalle_Total_Pagar_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:7.5cm;}
}
.Detalle_Total_Pagar_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:7.5cm;}
}
.Detalle_Fecha_Emision_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:7.8cm;}
}
.Detalle_Fecha_Emision_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:7.8cm;}
}
.Detalle_Periodo_Facturacion_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:7.8cm;}
}
.Detalle_Periodo_Facturacion_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:7.8cm;}
}
.Detalle_Total_Pagar_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:7.8cm;}
}
.Detalle_Total_Pagar_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:7.8cm;}
}
.Detalle_Fecha_Emision_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:8.1cm;}
}
.Detalle_Fecha_Emision_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:8.1cm;}
}
.Detalle_Periodo_Facturacion_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:8.1cm;}
}
.Detalle_Periodo_Facturacion_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:8.1cm;}
}
.Detalle_Total_Pagar_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:8.1cm;}
}
.Detalle_Total_Pagar_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:8.1cm;}
}
.Detalle_Fecha_Emision_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:8.4cm;}
}
.Detalle_Fecha_Emision_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:8.4cm;}
}
.Detalle_Periodo_Facturacion_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:8.4cm;}
}
.Detalle_Periodo_Facturacion_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:8.4cm;}
}
.Detalle_Total_Pagar_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:8.4cm;}
}
.Detalle_Total_Pagar_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:8.4cm;}
}
.Detalle_Fecha_Emision_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:8.7cm;}
}
.Detalle_Fecha_Emision_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:8.7cm;}
}
.Detalle_Periodo_Facturacion_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:8.7cm;}
}
.Detalle_Periodo_Facturacion_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:8.7cm;}
}
.Detalle_Total_Pagar_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:8.7cm;}
}
.Detalle_Total_Pagar_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:8.7cm;}
}
.Detalle_Fecha_Emision_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:1.3cm;
    top:9cm;}
}
.Detalle_Fecha_Emision_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:15.3cm;
    top:9cm;}
}
.Detalle_Periodo_Facturacion_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:0.6cm;
    top:9cm;}
}
.Detalle_Periodo_Facturacion_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:14.6cm;
    top:9cm;}
}
.Detalle_Total_Pagar_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:3.3cm;
    top:9cm;}
}
.Detalle_Total_Pagar_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:17.3cm;
    top:9cm;}
}
.Detalle_Concepto_Abajo_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:15.7cm;}
}
.Detalle_Concepto_Abajo_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:15.7cm;}
}
.Detalle_Concepto_Arriba_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:6.9cm;}
}
.Detalle_Concepto_Arriba_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:6.9cm;}
}
.Detalle_Total_Abajo_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:15.7cm;}
}
.Detalle_Total_Abajo_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:15.7cm;}
}
.Detalle_Total_Arriba_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:6.9cm;}
}
.Detalle_Total_Arriba_Derecha_0
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:6.9cm;}
}
.Detalle_Concepto_Abajo_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16cm;}
}
.Detalle_Concepto_Abajo_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:16cm;}
}
.Detalle_Concepto_Arriba_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:7.2cm;}
}
.Detalle_Concepto_Arriba_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:7.2cm;}
}
.Detalle_Total_Abajo_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16cm;}
}
.Detalle_Total_Abajo_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:16cm;}
}
.Detalle_Total_Arriba_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:7.2cm;}
}
.Detalle_Total_Arriba_Derecha_1
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:7.2cm;}
}
.Detalle_Concepto_Abajo_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16.3cm;}
}
.Detalle_Concepto_Abajo_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:16.3cm;}
}
.Detalle_Concepto_Arriba_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:7.5cm;}
}
.Detalle_Concepto_Arriba_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:7.5cm;}
}
.Detalle_Total_Abajo_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16.3cm;}
}
.Detalle_Total_Abajo_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:16.3cm;}
}
.Detalle_Total_Arriba_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:7.5cm;}
}
.Detalle_Total_Arriba_Derecha_2
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:7.5cm;}
}
.Detalle_Concepto_Abajo_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16.6cm;}
}
.Detalle_Concepto_Abajo_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:16.6cm;}
}
.Detalle_Concepto_Arriba_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:7.8cm;}
}
.Detalle_Concepto_Arriba_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:7.8cm;}
}
.Detalle_Total_Abajo_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16.6cm;}
}
.Detalle_Total_Abajo_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:16.6cm;}
}
.Detalle_Total_Arriba_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:7.8cm;}
}
.Detalle_Total_Arriba_Derecha_3
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:7.8cm;}
}
.Detalle_Concepto_Abajo_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:16.9cm;}
}
.Detalle_Concepto_Abajo_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:16.9cm;}
}
.Detalle_Concepto_Arriba_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:8.1cm;}
}
.Detalle_Concepto_Arriba_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:8.1cm;}
}
.Detalle_Total_Abajo_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:16.9cm;}
}
.Detalle_Total_Abajo_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:16.9cm;}
}
.Detalle_Total_Arriba_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:8.1cm;}
}
.Detalle_Total_Arriba_Derecha_4
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:8.1cm;}
}
.Detalle_Concepto_Abajo_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:17.2cm;}
}
.Detalle_Concepto_Abajo_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:17.2cm;}
}
.Detalle_Concepto_Arriba_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:8.4cm;}
}
.Detalle_Concepto_Arriba_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:8.4cm;}
}
.Detalle_Total_Abajo_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:17.2cm;}
}
.Detalle_Total_Abajo_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:17.2cm;}
}
.Detalle_Total_Arriba_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:8.4cm;}
}
.Detalle_Total_Arriba_Derecha_5
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:8.4cm;}
}
.Detalle_Concepto_Abajo_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:17.5cm;}
}
.Detalle_Concepto_Abajo_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:17.5cm;}
}
.Detalle_Concepto_Arriba_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:8.7cm;}
}
.Detalle_Concepto_Arriba_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:8.7cm;}
}
.Detalle_Total_Abajo_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:17.5cm;}
}
.Detalle_Total_Abajo_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:17.5cm;}
}
.Detalle_Total_Arriba_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:8.7cm;}
}
.Detalle_Total_Arriba_Derecha_6
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:8.7cm;}
}
.Detalle_Concepto_Abajo_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:17.8cm;}
}
.Detalle_Concepto_Abajo_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:17.8cm;}
}
.Detalle_Concepto_Arriba_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:9cm;}
}
.Detalle_Concepto_Arriba_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:9cm;}
}
.Detalle_Total_Abajo_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:17.8cm;}
}
.Detalle_Total_Abajo_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:17.8cm;}
}
.Detalle_Total_Arriba_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:9cm;}
}
.Detalle_Total_Arriba_Derecha_7
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:9cm;}
}
.Detalle_Concepto_Abajo_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.5cm;
    top:18.1cm;}
}
.Detalle_Concepto_Abajo_Derecha_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.5cm;
    top:18.1cm;}
}
.Detalle_Concepto_Arriba_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:8.0cm;
    top:9.3cm;}
}
.Detalle_Concepto_Arriba_Derecha_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:22.0cm;
    top:9.3cm;}
}
.Detalle_Total_Abajo_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:18.1cm;}
}
.Detalle_Total_Abajo_Derecha_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:18.1cm;}
}
.Detalle_Total_Arriba_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:11.5cm;
    top:9.3cm;}
}
.Detalle_Total_Arriba_Derecha_8
{
    font-family:Courier;
    position:absolute;
    font-size:8;
    left:25.5cm;
    top:9.3cm;}
}
