﻿<%@ Page Language="C#" MasterPageFile="~/paginas/Paginas_Generales/MasterPage.master" AutoEventWireup="true" CodeFile="Frm_Apl_Principal.aspx.cs" Inherits="paginas_Paginas_Generales_Frm_Apl_Principal" Title="Untitled Page" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Cph_Area_Trabajo2" Runat="Server">
    <link href="../../easyui/slide/css/modal-window.css" rel="stylesheet" type="text/css" />
    <link href="../../easyui/slide/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../easyui/slide/css/slideshow_1.css" rel="stylesheet" type="text/css" />    
    <script src="../../easyui/slide/js/modal-window.js" type="text/javascript"></script>
    <script src="../../easyui/slide/js/slideshow_1.js" type="text/javascript"></script>
   
<script type="text/javascript" >
    jQuery(function($){
      $('#slider').s3Slider({timeout:4000,fadeTime:800});
    });
  function Abrir_Ventana_Modal(Url, Propiedades) {
      window.showModalDialog(Url, null, Propiedades);
  }
   
     $(document).ready(function() {
    //            location.href='../Paginas_Generales/Frm_Apl_Principal.aspx';
     window.open('Frm_Ope_Alertas_Sistema.aspx', 'Alertas', 'toolbar=0,directories=0,menubar=0,status=0,scrollbars=1,resizable=SI,width=350,height=350,left=20px, top=20px');
     });
    


</script>

 
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Cph_Area_Trabajo1" Runat="Server">
<br />
<table width="100%">
    <tr>
    <td align ="center">
    <asp:Image ID="Image1" runat="server" src="../imagenes/irapuato/escudo.png" />
    </td>
    
<%--        <td style="width:20%;"></td>
        <td style="width:70%;">
            <div id="slider">
                <center>
                    
                <div class="slide"><img src="../imagenes/irapuato/escudo.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_centro.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_cibeles.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_fresas.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_fuente.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_fundadores.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_mural.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_plaza.jpg" alt=""/></div>
                <div class="slide"><img src="../imagenes/irapuato/bb_templo.jpg" alt=""/></div>
                </center>
            </div>
        </td>
        <td style="width:20%;"></td>--%>
    </tr>
</table>
    <div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</asp:Content>

