﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Frm_Ope_Tal_Migracion_Datos_Taller_Municipal.aspx.cs" Inherits="paginas_Taller_Mecanico_Frm_Ope_Tal_Migracion_Datos_Taller_Municipal" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Migración de Datos de Taller Municipal</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Btn_Subir_Refacciones" runat="server" Text="MIGRAR REFACCIONES" 
            onclick="Btn_Subir_Refacciones_Click" />
    </div>
    </form>
</body>
</html>
