

.icon-promedio
{
	
	background:url('icons/calculator.png') no-repeat;
}




.icon-excel{
	background:url('icons/page_excel.png') no-repeat;
}


.icon-historico-facturas
{
	 background:url('icons/briefcase.png') no-repeat; 	
}


.icon-pagos-reporte
{
 background:url('icons/script_edit.png') no-repeat; 	
	
}



.icon-reimprimir
{
 background:url('icons/report.png') no-repeat; 	
	
}



.icon-estudios
{
 background:url('icons/shape_square_edit.png') no-repeat; 	
	
}


.icon-convenio
{
 background:url('icons/folder.png') no-repeat; 	
	
}


.icon-cortes
{
	background:url('icons/disconnect.png') no-repeat; 
	
}

.icon-quejas
{  background:url('icons/user_comment.png') no-repeat; 
	
}


.icon-inspecciones
{
	background:url('icons/zoom_in.png') no-repeat; 
	
	}

.icon-eventos-usuarios
{
	background:url('icons/user_go.png') no-repeat; 
	
}


.icon-regresar
{
  	background:url('icons/arrow_left.png') no-repeat; 
}

.icon-consulta
{
 	background:url('icons/box.png') no-repeat;   
}

.icon-buscar_form
{
    background:url('icons/application_form_magnify.png') no-repeat;   
    
    }


.icon-editar
{
  background:url('icons/application_form_edit.png') no-repeat;   
 }

.icon-nuevo
{
    background:url('icons/application_form_add.png') no-repeat;
    
   }

.icon-eliminar
{   
    background:url('icons/delete.png') no-repeat;
 }

.icon-agregar{
	background:url('icons/add.png') no-repeat;
}

.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}
