﻿<%@ Page Language="C#" MasterPageFile="~/paginas/Paginas_Generales/MasterPage.master" AutoEventWireup="true" 
CodeFile="Frm_Ope_Psp_Autorizar_Calendario_Presupuestos.aspx.cs" 
Inherits="paginas_Presupuestos_Frm_Ope_Psp_Autorizar_Calendario_Presupuestos" Title="SIAC Sistema Integral Administrativo y Comercial" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Cph_Area_Trabajo2" Runat="Server">
    <script type="text/javascript">
         $(document).ready(function() {
            var ancho = screen.width; 
            var largo = screen.height-50;
            window.open('Frm_Ope_Psp_Autorizar_Calendario_Presupuesto.aspx', 'Autorización', 'toolbar=0,directories=0,menubar=0,status=0,scrollbars=1,resizable=NO,width=' + ancho + ',height='+ largo+ ' ');
         });
    </script>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Cph_Area_Trabajo1" Runat="Server">
    <table width="100%" >
        <tr align="center"><td>&nbsp;</td></tr>
        <tr align="center"><td>&nbsp;</td></tr>
        <tr align="center"><td>&nbsp;</td></tr>
        <tr align="center"><td>&nbsp;</td></tr>
        <tr>
            <td align ="center">
                <asp:Image ID="Image2" runat="server" src="../imagenes/paginas/aceptar-y-rechazar.jpg" Width="300px" Height="200px" />
            </td>
        </tr>
    </table>
</asp:Content>

