﻿<%@ Page Language="C#" MasterPageFile="~/paginas/Paginas_Generales/MasterPage.master" AutoEventWireup="true" 
CodeFile="Frm_Ope_Psp_Asignar_Partida.aspx.cs" Inherits="paginas_Presupuestos_Frm_Ope_Psp_Asignar_Partida" 
Title="SIAC Sistema Integral Administrativo y Comercial" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Cph_Area_Trabajo2" Runat="Server">
    <script type="text/javascript">
         $(document).ready(function() {
            window.open('Frm_Ope_Psp_Asignar_Partida_Emergente.aspx', 'Asignar_Partida', 'Toolbar=NO, Directories=NO, Menubar=NO, Status=NO, Scrollbars=NO, Resizable=NO, Location=NO, Titlebar=NO, channelmode=NO, Width=1210, Height=620, Left=20px, Top=20px');
         });
    </script>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Cph_Area_Trabajo1" Runat="Server">
     <table width="100%" >
        <tr align="center"><td>&nbsp;</td></tr>
        <tr align="center"><td>&nbsp;</td></tr>
        <tr align="center"><td>&nbsp;</td></tr>
        <tr align="center"><td>&nbsp;</td></tr>
        <tr>
            <td align ="center">
                <%--<asp:Image ID="Image2" runat="server" src="../imagenes/paginas/asignar.png" Width="250px" Height="200px" />--%>
            </td>
        </tr>
    </table>
</asp:Content>

