﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Migracion_Datos_Servicios_Generales.aspx.cs" Inherits="paginas_Compras_Migracion_Datos_Servicios_Generales" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Btn_Migracion_Proveedores" runat="server" 
            onclick="Btn_Migracion_Proveedores_Click" Text="Migración de Proveedores" />
    
    </div>
    </form>
</body>
</html>
